.about-main {
  flex-grow: 1;
}
.about-header {
  background: url(../pages/about/images/header-right-bottom-bg.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.about-header-bottom {
  position: relative;

  display: flex;
  align-items: flex-start;
  padding-top: 24rem;
  justify-content: space-between;
}

.about-header-bottom__title-wrapper {
  width: 100%;
  max-width: 35rem;
  margin-right: 3rem;
}

.about-header-bottom__title {
  font-size: 6.4rem;
  font-weight: bold;
  line-height: calc(100 / 64);
}

.light-text {
  color: $primary-ligth-coral;
}

.about-header-bottom__devider {
  margin-bottom: 4rem;

  background: $primary-ligth-coral;
}

.about-header-bottom__text-wrapper {
  width: 100%;
  padding-bottom: 12rem;
}

.about-header-bottom__text {
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 600;
}
// section meet start
.meet {
  padding-top: 14rem;
  padding-bottom: 14rem;
  background: $secondary-deep-jungle-green;
  background-image: url(../../pages/about/images/section-meet-left-top-bg.svg),
    url(../../pages/about/images/section-meet-right-bottom-bg.svg);
  background-position: left top, right bottom;
  background-repeat: no-repeat;
}
.meet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meet__title {
  margin-bottom: 6.4rem;
}
.meet__list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.8rem 3rem;
  @media screen and (max-width: 1149px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.meet__item {
  position: relative;
  width: 35rem;
  height: 25.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $secondary-sacramento-state-green;
  img {
    margin: 0;
    margin-bottom: 1.6rem;
    margin-top: 3.2rem;
  }
  h3 {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: calc(28 / 18);
    color: $secondary-rapture-blue;
  }
  p {
    font-size: 1.5rem;
    line-height: calc(25 / 15);
    font-weight: 500;
    font-style: italic;
  }
}
.meet__item-before {
  position: absolute;
  z-index: 5;
  background: url(../../pages/about/images/section-meet-item-after-bg.svg);
  width: 5.6rem;
  height: 5.6rem;
  bottom: -2.8rem;
}
// section clients start
.clients {
  background: $secondary-sacramento-state-green
    url(../../pages/about/images/section-clients-left-top-bg.svg);
  background-repeat: no-repeat;
  background-position: top left;
  padding-top: 14rem;
  padding-bottom: 14rem;
}
.clients-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clients__title {
  margin-bottom: 6.4rem;
  font-size: 4.8rem;
  line-height: 1;
  font-weight: bold;
}
.clients__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  @media screen and (max-width: 954px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
.clients__item {
}
