.footer {
}

.footer-top {
  background: $primary-ligth-coral url(../images/svg/footer-left-img.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.footer-top__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 7.6rem;
  padding-bottom: 7.6rem;
}

.footer-top__title {
  color: $secondary-sacramento-state-green;
  font-size: 4.8rem;
  margin-left: 9.5rem;
}

.button {
  margin-right: 9.5rem;
}

.dark-btn {
}

.footer-bottom {
  background: $secondary-dark-green;
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
}

.footer-bottom__wrapper {
  display: flex;
}

.footer-bottom__nav-wrapper {
  margin-right: 12.5rem;
}

.footer-logo__link {
  margin-bottom: 2.5rem;
}

.footer-logo-img {
}

.footer-bottom__nav {
}

.footer-bottom__list {
  display: flex;
  gap: 4rem;
}

.footer-bottom__item {
}

.footer-bottom__link {
  font-weight: 600;
}

.footer-bottom__contact {
  margin-right: auto;
  line-height: 1.6;
  font-weight: 600;
  opacity: 60%;
}

.social-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.social-page__wrapper {
  display: flex;
  gap: 1.6rem;
}

.reserved-text--tablet {
  display: none;
}

.facebook-icon {
}

.pinterest-icon {
}

.twitter-icon {
}

.reserved-text {
  opacity: 60%;
}

.social-page__wrapper--tablet {
  display: none;
}

@media screen and (max-width: 1000px) {
  .footer-top__title {
    font-size: 3.8rem;
    margin-left: 9.7rem;
  }

  .dark-btn {
    display: block;
    margin-right: 0;
  }
}

@media screen and (max-width: 782px) {
  .footer-top__title {
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 768px) {
  .footer-logo__link {
  }

  .footer-logo-img {
    width: 9.6rem;
    height: 2.4rem;
  }

  .social-page {
    display: none;
  }

  .social-page__wrapper--tablet {
    display: block;
    display: flex;
    gap: 1.6rem;
    padding-top: 3.3rem;
  }

  .footer-bottom__contact {
    margin-right: 0;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    text-align: end;
  }

  .reserved-text--tablet {
    display: block;
    padding-top: 3.2rem;
  }
}

@media screen and (max-width: 679px) {
  .footer-top__wrapper {
    flex-direction: column;
  }

  .footer-top__title {
    margin-left: 0;
  }
}

@media screen and (max-width: 505px) {
  .footer-bottom__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer-bottom__nav-wrapper {
    margin-right: 0;
  }

  .footer-bottom__contact {
    margin-left: 0;
    text-align: center;
  }

  .footer-bottom__nav-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.4rem;
  }

  .social-page__wrapper--tablet {
    display: none;
  }
}

@media screen and (max-width: 495px) {
  .footer-top__title {
    font-size: 2.2rem;
  }

  .social-page {
    display: flex;
    align-items: center;
    padding-top: 4rem;
  }

  .reserved-text {
    margin-top: 1.6rem;
  }
}
