.header {
  background: url(../images/svg/header-left-img.svg);
  background-repeat: no-repeat;
  background-position: left top 25rem;
}



.container {}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6.5rem;
  padding-top: 7.3rem;

}

.site-logo__link {
  margin-right: 8rem;
}

.site-logo__img {}

.sitenav {
  margin-right: auto;

}

.sitenav__list {
  display: flex;
  gap: 4rem;
}

.sitenav__item {}

.sitenav__link {
  color: $primary-whtie;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
}

.navbar-toggle {
  display: none;
  background: none;

}

.navbar-toggle-time {
  background: none;
  display: none;
}

.sitenav-link-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.humburg-icon {}



.header-bottom {
  position: relative;

  display: flex;
  align-items: flex-start;
  padding-top: 6.5rem;
  justify-content: space-between;
}

.header-bottom__title-wrapper {}

.header-bottom__title {
  font-size: 10rem;
  font-weight: bold;
  line-height: 1;
  width: 100%;
  max-width: 57rem;






}



.light-text {
  color: $primary-ligth-coral;
}

.header-bottom__devider {
  margin-bottom: 7.9rem;

  background: $secondary-rapture-blue;


}

.header-bottom__text-wrapper {
  width: 100%;
  max-width: 44.5rem;
  padding-bottom: 22.9rem;
  background: url(../images/svg/header-right-bottom-img.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}



.header-bottom__text {
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 600;
}

@media screen and (max-width:1000px) {
  .header-bottom {
    flex-direction: column;
  }
}

@media screen and (max-width:768px) {
  .container {
    padding: 0 4rem;
  }

  .header-top {

    padding-top: 6.4rem;

  }

  .header-bottom {
    align-items: center;
    text-align: center;
  }

  .header-bottom__title {
    margin-bottom: 2.4rem;
    font-size: 6.4rem;
    font-weight: bold;
    line-height: calc(56/64);

  }

  .header-bottom__text {
    font-size: 1.5rem;

  }

  .header-bottom__text-wrapper {
    width: 100%;
    max-width: 457px;
  }

  .header-bottom__devider {
    display: none;
  }

  .sitenav {
    display: none;

  }

  .button {
    display: none;
  }

  .navbar-toggle {
    display: block;
    background: none;

  }

  .header-bottom__text-wrapper {

    background-position: bottom center;
  }
}

@media screen and (max-width:375px) {
  .container {
    padding: 0 2.4rem;
  }

  .site-logo__link {
    width: 12.8rem;
    height: 3.2rem;
  }

  .header-top {

    padding-top: 4.8rem;
    margin-bottom: 4rem;


  }

  .header-bottom {
    padding-top: 4rem;

  }

  .header-bottom__title {
    margin-bottom: 1.8rem;
    font-size: 4rem;
    font-weight: bold;
    line-height: 1;

  }

  .header-bottom__text {
    font-size: 1.5rem;
    line-height: calc(28/15);

  }

  .header-bottom__text-wrapper {
    width: 100%;
  }


}