$primary-midnight-green: #014E56;
$primary-ligth-coral: #F67E7E;
$primary-whtie: #FFFFFF;

$secondary-rapture-blue: #79C8C7;
$secondary-police-blue: #2C6269;
$secondary-deep-jungle-green: #004047;
$secondary-sacramento-state-green: #012F34;
$secondary-dark-green: #002529;

$main-font-family: "Livvic", sans-serif;

$h1-lage-font-size: 10rem;
$h1-lage-lh: 1;

$h1-small-font-size: 6.4rem;
$h1-small-lh: 0.875;

$h2-font-size: 4.8rem;
$h2-lh: 1;

$h3-font-size: 1.8rem;
$h3-lh: 1.55;

$body1-font-size: 1.8rem;
$body1-lh: 1.55;


$body2-font-size: 1.5rem;
$body2-lh: 1.66;